.aboutContainer {
  width: 100%;
  margin: 0;
}

.TextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutText {
  width: 50%;
}

.skeletonName {
  height: 675px;
  width: 250px;
}

.tweetsSection {
  padding-left: 5rem;
  padding-right: 5rem;
}

.tweets {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.info {
  grid-area: info;
  padding: 2rem;
}

.CardContainer {
  display: flex;
  justify-content: center;
}

.textCard {
  font-size: 1.5rem;
}

.linkedinCard {
  padding: 2rem;
  border-bottom: solid 1px rgb(207, 207, 207);
  border-radius: 6px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebookLogo,
.twitterLogo,
.instagramLogo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.facebookLogo {
  color: #4267b2;
}
.instagramLogo {
  color: #833ab4;
}
.twitterLogo {
  color: #1da1f2;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

@media (max-width: 450px) {
  .tweetsSection {
    padding-left: 0.5rem;
    padding-right: 0;
  }

  .tweets {
    display: grid;
    padding-left: 5rem;
    padding-right: 0;
  }

  .tweet {
    width: 50%;
  }
  a.social {
    margin: 1rem 1rem;
  }
}
