.modal {
  font-size: 12px;
  background-color: black;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.popUpButtons {
  display: flex;
  justify-content: center;
}

.popUpButtons > .button {
  margin: 1rem;
}

.ModalButton {
  background-color: #319795;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 0.375rem;
  font-weight: 600;
  padding: 0.6rem;
  margin: 1rem;
}
