.register__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__container{
    width: 40vw;
}

.msg__error{
    height: 15px;
}

.btn__signup{
    margin-top: 10px;
}