.profilePhoto {
  height: 50px;
  width: 50px;
}

.link-button {
}

.table {
  width: 50% !important;
}

.buttonField {
  text-align: center !important;
}

.acciones {
  text-align: center !important;
}

.EditButton {
  margin-right: 10px;
}
