.flex {
  display: flex;
}

.backoffice {
  height: 100vh;
}

.backgroundBackoffice {
  background-image: url('./BackofficeBg.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.title-styles {
  display: flex;
  justify-content: center;
  align-items: center;
}
