@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
.contactContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70hv;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "info contactForm"
    "map contactForm";
  grid-gap: 1rem;
  margin: 4rem;
}

#contactForm {
  grid-area: contactForm;
  padding: 2rem;
  border-left: solid 1px rgb(207, 207, 207);
  width: 100%;
  height:100%;
}
#map {
  grid-area: map;
  padding: 2rem;
  margin: auto;
}
#info {
  grid-area: info;
  padding: 2rem;
  border-bottom: solid 1px rgb(207, 207, 207);
}
.list {
  list-style: none;
  li {
    margin: 0.5rem;
    font-family: Montserrat;
  }
}

.listTitle {
  font-size: 30px;
}

.facebook,
.instagram,
.mail,
.phone,
.twitter,
.linkedin {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-right: 1rem;
}

.listItem {
  font-family: Montserrat;
}

.facebook {
  color: #4267b2;
}
.instagram {
  color: #833ab4;
}
.mail {
  color: red;
}
.phone {
  color: #4267b2;
}

@media only screen and(max-width:850px) {
  .contactContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "info" "map" "contactForm";
    margin: 0;
  }
}
