.gracias__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.gracias__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
.gracias__img {
  width: 14rem;
}
.gracias__title {
  font-size: 3rem;
  text-align: center;
}
.gracias__btn {
  width: 12px;
}
