.headerLogoOng,
.headerLogo {
  height: 40px;
}

@media (min-width: 1200px) {
  .header {
    width: 100%;
    height: 50px;
    padding: 5px;
  }
  .logos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .logos .slogan {
    font-family: 'Montserrat';
  }
}

@media (min-width: 1240px) {
  .header {
    background-color: #00a0dc;
  }
  .slogan {
    color: white;
    position: relative;
    top: 6px;
  }
}
