* {
  margin: 0;
  padding: 0;
}

.fondoError {
  background-image: url(img/backgound.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .error {
    background-color: #fff;
    opacity: 0.9;
  }
}
.error {
  border: 2px solid red;
  border-radius: 10px;
  text-align: center;
  position: absolute !important;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
}

.img {
  display: flex;
  justify-content: center;
}
