.container {
  display: grid;
  height: 50vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "info contactForm"
    "map contactForm";
  grid-gap: 1rem;
}

#contactForm {
  grid-area: contactForm;
  padding: 2rem;
}
#map {
  grid-area: map;
  padding: 2rem;
}
#info {
  grid-area: info;
  padding: 2rem;
}
.list {
  list-style: none;
  li {
    margin: 0.5rem;
  }
}

.facebook,
.instagram,
.mail,
.phone,
.twitter,
.linkedin {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-right: 1rem;
}

.facebook {
  color: #4267b2;
}
.instagram {
  color: #833ab4;
}
.mail {
  color: red;
}
.phone {
  color: #4267b2;
}

@media only screen and(max-width:550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "info" "map" "contactForm";
  }
}
